{sub_dirs, [
           "../config_data",
           "../config_backend"
]}.

{deps, [
       {jiffy, "0.8.3", {git, "git://github.com/davisp/jiffy.git", {tag, "0.8.3"}}},
       {apptools, "1.1", {git, "git://github.com/ericmoritz/apptools.git", "release/1.1"}},
       {cowboy, "0.8.5", {git, "git://github.com/extend/cowboy.git", {tag, "0.8.5"}}}
]}.